{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Participant</title>
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <style>
        .container-fluid input{
        margin-left:80px;
        }
            div {
      color: white;
      background: grey;
      padding: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    {% block body %}

    <div class="container-fluid">
    <h2>Are you sure you want to remove "{{ name }}"? </h2><br>

    <form action="{% url 'delete' name.id %}" method="POST">
        {% csrf_token %}

        <a class="btn btn-lg btn-success" href="{% url 'branch_admin' %}">Cancel and Go Back</a>

        <input class="btn btn-lg btn-danger" type="submit" name="Confirm" value="Confirm">
    </form>
    </div>

    {% endblock %}
</body>
</html>