<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Events</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Main Stylesheet File -->
  <link href="css/profile.css" rel="stylesheet">


</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Chunchana 2020</a></h1>
        
  
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Events">Events</a>
            <ul>
              <li><a href="#">Dance</a></li>
              <li><a href="#">Theater</a></li>
              <li><a href="#">Literature </a></li>
              <li><a href="#">Fine_arts</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Gaming</a></li>
            </ul>
          </li>
          <li class="Departments"><a href="#">Departments</a>
            <ul>
              <li><a href="#">Electronics & Communication</a></li>
              <li><a href="#">Civil Engineering </a></li>
              <li><a href="CSE.html">Computer science</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Electrical & Electronics</a></li>
              <li><a href="#">Information science & Engineering</a></li>
            </ul>
          </li>
         
          <li class="Departments" ><a href="#contact">Contact</a>
          <ul>
            <li><a href="#Report">Report MAlicious</a></li>
            <li><a href="#Emergency">Emergency</a></li>
          </ul>
          
        </li > 
       
       
      
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <br><br>

  
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>An opportunity has been provided to the students to exhibit cultural talents. CHUNCHUNA, an Intercollegiate extravaganza is conducted every year by the Institute, in which students from various technical colleges of the state participate along with our students.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/mission.jpg" alt=""  class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                To achieve Excellence in Education, Entrepreneurship and Innovation by producing Engineers with high Ethical Standard, Integrity and Credibility.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/team.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Team</a></h2>
             
              <p>
                It was founded in 1980 by Sri Adichunchanagiri Maha Samsthana Math.The principal of the college is Dr. C T Jayadeva and Dr. C K Subbaraya is the Director
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/vision.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                To be recognized as a center of excellence in information technology and allied areas with quality learning and research environment technologies.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    


   

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Battle Of Branches</h3>
      
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">6</span>
            <p>Branches</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">7</span>
            <p>Events</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">699</span>
            
            <p>Hours Of Involvement</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">99</span>
            <p>Co-Ordinators</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="img/collage.jpg" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title"> Event  co-ordintors</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Dance">Dance</li>
              <li data-filter=".filter-theater">Theater</li>
              <li data-filter=".filter-sports">Sports</li>
              <li data-filter=".filter-literature">Literature</li>
              <li data-filter=".filter-finearts">Fine-arts</li>
              <li data-filter=".filter-music">Music</li>
              <li data-filter=".filter-gaming">Gaming</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-Dance wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/dance.jpg" class="img-fluid" alt="">
                <a href="img/dance.jpg" data-lightbox="portfolio" data-title="Dance" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Dance 1</a></h4>
                <p>Dance </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Dance wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/dance1.jpg" class="img-fluid" alt="">
                <a href="img/dance1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Dance" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Dance 2</a></h4>
                <p>Dance</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-theater wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/theater.jpg" class="img-fluid" alt="">
                <a href="img/theater.jpg" class="link-preview" data-lightbox="portfolio" data-title="theater" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Theater 1</a></h4>
                <p>Theater 1</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-theater wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/theater1.jpg" class="img-fluid" alt="">
                <a href="img/theater1.jpg" class="link-preview" data-lightbox="portfolio" data-title="theater" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Theater 2</a></h4>
                <p>Theater 2</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-literature wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/literature.jpg" class="img-fluid" alt="">
                <a href="img/literature.jpg" class="link-preview" data-lightbox="portfolio" data-title="literature" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Literature 1</a></h4>
                <p>literature 1</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-literature wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/literature1.jpg" class="img-fluid" alt="">
                <a href="img/literature1.jpg" class="link-preview" data-lightbox="portfolio" data-title="literature" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Literature 2</a></h4>
                <p>Literature 2</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-finearts wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/finearts.webp" class="img-fluid" alt="">
                <a href="img/finearts.webp" class="link-preview" data-lightbox="portfolio" data-title="finearts" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Fine-Arts</a></h4>
                <p>Fine arts</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-music wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/music.jpg" class="img-fluid" alt="">
                <a href="img/music.jpg" class="link-preview" data-lightbox="portfolio" data-title="music" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Music 1</a></h4>
                <p>Music 1</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-gaming wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="img/gaming.png" class="img-fluid" alt="">
                <a href="img/gaming.png" class="link-preview" data-lightbox="portfolio" data-title="gaming" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Gaming</a></h4>
                <p>Gaming</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Branches</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="img/logo1.png" alt="">
          <img src="img/logo.png" alt="">

        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="img/user.png" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>position &amp; place</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/user.png" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>position &amp; place</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Talent wins games, but teamwork and intelligence win championships
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/user.png" class="testimonial-img" alt="">
            <h3>Name </h3>
            <h4>Position</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/user.png" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>Position</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              Collaboration allows teachers to capture each other's fund of collective intelligence.
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="img/user.png" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>Position</h4>
            <p>
              <img src="img/quote-sign-left.png" class="quote-sign-left" alt="">
              The best teamwork comes from men who are working independently toward one goal in unison
              <img src="img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>The strength of the team is each individual member.The strength of each member is the team.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/user.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>_________________</h4>
                  <span>Project lead</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/user.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>__________________</h4>
                  <span>Front end lead</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/user.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>______________________</h4>
                  <span>Backend Lead</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/user.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>____________________</h4>
                  <span>Designing Charge</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Any queries feel free to call </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>AIT Engineering college AD Block Beekenahalli rural Chikkamagaluru-577102</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+91-9945154355">+91 123456789</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@aitckm.in</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="feed.php" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" required name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email"  required class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" required name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" required rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Bitmagnets</h3>
            <p>You can do better with your team than you can alone. <br>If a team reaches its potential, each player must be willing to subordinate his personal goals to the good of the team</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#events">Events</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of Events </a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Register</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              AIT Engineering college<br>
              Administrative block <br>
              beekenahalli rural<br>
              577102
              <strong>Phone:</strong> +91 123456789<br>
              <strong>Email:</strong> info@aitckm.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Declaration </h4>
            <p>A Learning is never complete and ending process perspective varies from every individual if you think you can make a change in it fill out the form over head  to join us for a better cause</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Team Bitmagnets</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Bitmagnets AIT</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
