{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chunchana  2020</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" %}" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static "lib/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/animate/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/ionicons/css/ionicons.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{% static "lib/lightbox/css/lightbox.min.css" %}" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %}">


  <!-- Main Stylesheet File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">


</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Chunchana 2020</a></h1>
        
  
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Events">Events</a>
            <ul>
              <li><a href="#">Dance</a></li>
              <li><a href="#">Theater</a></li>
              <li><a href="#">Literature </a></li>
              <li><a href="#">Fine_arts</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Gaming</a></li>
            </ul>
          </li>
          <li class="Departments"><a href="#">Departments</a>
            <ul>
              <li><a href="#">Electronics & Communication</a></li>
              <li><a href="#">Civil Engineering </a></li>
              <li><a href="CSE.html">Computer science</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Electrical & Electronics</a></li>
              <li><a href="#">Information science & Engineering</a></li>
            </ul>
          </li>
         
          <li class="Departments" ><a href="#contact">Contact</a>
          <ul>
            <li><a href="#Report">Report Malicious</a></li>
            <li><a href="#Emergency">Emergency</a></li>
          </ul>
          
        </li > 
       
       
      
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static "img/main.JPG" %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Chunchana - 2020</h2>
              
               <b><h6>Annual Cultural Fest Adichunchanagiri Institute of Technology Chikkamagaluru - 577102</h6></b>
                <a href="{% url 'registration' %}" class="btn-get-started scrollto">Get Started
    
                </a>
                   
              
              </div>
              
            
          </div>

          </div>
         
          <div class="carousel-item">
            <div class="carousel-background"><img src="img/1.JPG" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Culturals</h2>
                <p>Annual sports meet of different branches of AIT Chikkamagaluru </p>
                <a href="Login form/index.php" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/2.jpg" %}" alt=""></div>
            <div class="carousel-container">
            
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/4.jpg" %}" alt=""></div>
            <div class="carousel-container">
             
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/5.jpg" %}" alt=""></div>
            <div class="carousel-container">
            
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static "img/6.jpg" %}" alt=""></div>
            <div class="carousel-container">
            
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Bundle of opportunities</a></h4>
            <p class="description">A complete diversity people makes any event or the society a better one we belive in the overall development of an individual and we support their uniqueness so we present CHUNCHANA for those who embrace weirdness  </p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">The time constraint  </a></h4>
            <p class="description">We belive in a word "Time isn't the main thing.It's the only thing" So our fun has an end too that is FROM "dd-mm-yy" TO "dd-mm-yy"  </p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Our community</a></h4>
            <p class="description">"Comming together is a beginning <br>
                                    Staying together is a process <br>
                                    and working together is sucess"
                                    wanna join our community?.
            </p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>An opportunity has been provided to the students to exhibit cultural talents. CHUNCHUNA, an Intercollegiate extravaganza is conducted every year by the Institute, in which students from various technical colleges of the state participate along with our students.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="{% static "img/mission.jpg" %}" alt=""  class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                To achieve Excellence in Education, Entrepreneurship and Innovation by producing Engineers with high Ethical Standard, Integrity and Credibility.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="{% static "img/team.png" %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Team</a></h2>
             
              <p>
                It was founded in 1980 by Sri Adichunchanagiri Maha Samsthana Math.The principal of the college is Dr. C T Jayadeva and Dr. C K Subbaraya is the Director
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="{% static "img/vision.png" %}" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                To be recognized as a center of excellence in information technology and allied areas with quality learning and research environment technologies.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="Events">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3> Events</h3>
          <p>Chunchana Is A Youthful Intercollegiate Cultural Fest With A Rich Heritage Spanning Over A Period Of Over Two Decades. This Fest Has Always Been A Great Platform For Students To Showcase Their Talent Prowess</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Dance</a></h4>
            <p class="description">Western solo,classical solo
              Choreography,Trios.</p>
          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Theater</a></h4>
            <p class="description">Fashion show,Skit <br>
              Mime,Street play.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            
            <h4 class="title"><a href="">Literature</a></h4>
            <p class="description">Debate,Quiz,Turncoat,Kannada Jam,Creative writing,Dumb Charades, 3-Monkeys</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            
            <h4 class="title"><a href="">Fine_arts</a></h4>
            <p class="description">Rangoli,Onspot_Painting, Collage,Photography,Pencil Sketch,Installation,70mm</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            
            <h4 class="title"><a href="">Music</a></h4>
            <p class="description">Western Vocal solo,Classical vocal solo,Duet_signing,Instrumental solo,Anthakshari</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Gaming</a></h4>
            <p class="description">Super minute,Stress interview ,Treasure hunt,Twinnies,Cooking without fire</p>
          </div>
         

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Contact us </h3>
        <p> found something MAlicious something is not right report is we will get that covered problems are solved together</p>
        <a class="cta-btn" href="#">click here to to dial </a>
      </div>
    </section><!-- #call-to-action -->

   

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Battle Of Branches</h3>
      
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">6</span>
            <p>Branches</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">7</span>
            <p>Events</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">699</span>
            
            <p>Hours Of Involvement</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">99</span>
            <p>Co-Ordinators</p>
  				</div>

  			</div>

        <div class="facts-img">
          <img src="{% static "img/collage.jpg" %}" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- #facts -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title"> Event  co-ordintors</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Dance">Dance</li>
              <li data-filter=".filter-theater">Theater</li>
              <li data-filter=".filter-sports">Sports</li>
              <li data-filter=".filter-literature">Literature</li>
              <li data-filter=".filter-finearts">Fine-arts</li>
              <li data-filter=".filter-music">Music</li>
              <li data-filter=".filter-gaming">Gaming</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-Dance wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/dance.jpg" %}" class="img-fluid" alt="">
                <a href="{% static "img/dance.jpg" %}" data-lightbox="portfolio" data-title="Dance" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Dance 1</a></h4>
                <p>Dance </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Dance wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/dance1.jpg" %}" class="img-fluid" alt="">
                <a href="{% static "img/dance1.jpg" %}" class="link-preview" data-lightbox="portfolio" data-title="Dance" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Dance 2</a></h4>
                <p>Dance</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-theater wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/theater.jpg" %}" class="img-fluid" alt="">
                <a href="{% static "img/theater.jpg" %}" class="link-preview" data-lightbox="portfolio" data-title="theater" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Theater 1</a></h4>
                <p>Theater 1</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-theater wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/theater1.jpg" %}" class="img-fluid" alt="">
                <a href="{% static "img/theater1.jpg" %}" class="link-preview" data-lightbox="portfolio" data-title="theater" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Theater 2</a></h4>
                <p>Theater 2</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-literature wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/literature.jpg" %}"class="img-fluid" alt="">
                <a href="{% static "img/literature.jpg" %}" class="link-preview" data-lightbox="portfolio" data-title="literature" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Literature 1</a></h4>
                <p>literature 1</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-literature wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/literature1.jpg" %}" class="img-fluid" alt="">
                <a href="{% static "img/literature1.jpg" %}"class="link-preview" data-lightbox="portfolio" data-title="literature" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Literature 2</a></h4>
                <p>Literature 2</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-finearts wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/finearts.webp" %}" class="img-fluid" alt="">
                <a href="{%  static "img/finearts.webp" %}" class="link-preview" data-lightbox="portfolio" data-title="finearts" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Fine-Arts</a></h4>
                <p>Fine arts</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-music wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/music.jpg" %}" class="img-fluid" alt="">
                <a href="{% static "img/music.jpg" %}" class="link-preview" data-lightbox="portfolio" data-title="music" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Music 1</a></h4>
                <p>Music 1</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-gaming wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <figure>
                <img src="{% static "img/gaming.png" %}" class="img-fluid" alt="">
                <a href="{% static "img/gaming.png" %}" class="link-preview" data-lightbox="portfolio" data-title="gaming" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Gaming</a></h4>
                <p>Gaming</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Recruiters</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="{% static "img/infosys.jpg" %}" alt="">
          <img src="{% static "img/codilar_logo.png" %}" alt="">
          <img src="{% static "img/Capgemini.jpg" %}" alt="">
          <img src="{% static "img/cognizant.png" %}" alt="">
          <img src="{% static "img/milople.png" %}" alt="">
          <img src="{% static "img/mindtree.png" %}" alt="">
          <img src="{% static "img/mphasis.jpg" %}" alt="">
          <img src="{% static "img/ntt.png" %}" alt="">
          <img src="{% static "img/rakuten.jpg" %}" alt="">
          <img src="{% static "img/robosoft.png" %}" alt="">
          <img src="{% static "img/subex.jpg" %}" alt="">
          <img src="{% static "img/syscon.png" %}" alt="">
          <img src="{% static "img/tcs.png" %}" alt="">
          <img src="{% static "img/wipro.jpg" %}" alt="">

        </div>

      </div>
    </section><!-- #clients -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static "img/user.png" %}" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>position &amp; place</h4>
            <p>
              <img src="{% static "img/quote-sign-left.png" %}" class="quote-sign-left" alt="">
              Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work.
              <img src="{% static "img/quote-sign-right.png" %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static "img/user.png" %}" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>position &amp; place</h4>
            <p>
              <img src="{% static "img/quote-sign-left.png" %}" class="quote-sign-left" alt="">
              Talent wins games, but teamwork and intelligence win championships
              <img src="{% static "img/quote-sign-right.png" %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static "img/user.png" %}" class="testimonial-img" alt="">
            <h3>Name </h3>
            <h4>Position</h4>
            <p>
              <img src="{% static "img/quote-sign-left.png" %}" class="quote-sign-left" alt="">
              Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results
              <img src="{% static "img/quote-sign-right.png" %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static "img/user.png" %}" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>Position</h4>
            <p>
              <img src="{% static "img/quote-sign-left.png" %}" class="quote-sign-left" alt="">
              Collaboration allows teachers to capture each other's fund of collective intelligence.
              <img src="{% static "img/quote-sign-right.png" %}" class="quote-sign-right" alt="">
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static "img/user.png" %}" class="testimonial-img" alt="">
            <h3>Name</h3>
            <h4>Position</h4>
            <p>
              <img src="{% static "img/quote-sign-left.png" %}" class="quote-sign-left" alt="">
              The best teamwork comes from men who are working independently toward one goal in unison
              <img src="{% static "img/quote-sign-right.png" %}" class="quote-sign-right" alt="">
            </p>
          </div>

        </div>

      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>The strength of the team is each individual member.The strength of each member is the team.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static "img/user.png" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>_________________</h4>
                  <span>Project lead</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
               <img src="{% static "img/user.png" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>__________________</h4>
                  <span>Front end lead</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
               <img src="{% static "img/user.png" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>______________________</h4>
                  <span>Backend Lead</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
               <img src="{% static "img/user.png" %}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>____________________</h4>
                  <span>Designing Charge</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Any queries feel free to call </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>AIT Engineering college AD Block Beekenahalli rural Chikkamagaluru-577102</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+91-9945154355">+91 123456789</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@aitckm.in</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="feed.php" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" required name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email"  required class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" required name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" required rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Bitmagnets</h3>
            <p>You can do better with your team than you can alone. <br>If a team reaches its potential, each player must be willing to subordinate his personal goals to the good of the team</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#events">Events</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of Events </a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Register</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              AIT Engineering college<br>
              Administrative block <br>
              beekenahalli rural<br>
              577102
              <strong>Phone:</strong> +91 123456789<br>
              <strong>Email:</strong> info@aitckm.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Declaration </h4>
            <p>A Learning is never complete and ending process perspective varies from every individual if you think you can make a change in it fill out the form over head  to join us for a better cause</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Team Bitmagnets</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Bitmagnets AIT</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static "lib/jquery/jquery.min.js" %}"></script>
  <script src="{% static "lib/jquery/jquery-migrate.min.js" %}"></script>
  <script src="{% static "lib/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "lib/easing/easing.min.js" %}"></script>
  <script src="{% static "lib/superfish/hoverIntent.js" %}"></script>
  <script src="{% static "lib/superfish/superfish.min.js" %}"></script>
  <script src="{% static "lib/wow/wow.min.js" %}"></script>
  <script src="{% static "lib/waypoints/waypoints.min.js" %}"></script>
  <script src="{% static "lib/counterup/counterup.min.js" %}"></script>
  <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "lib/isotope/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "lib/lightbox/js/lightbox.min.js" %}"></script>
  <script src="{% static "lib/touchSwipe/jquery.touchSwipe.min.js" %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static "contactform/contactform.js" %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static "js/main.js" %}"></script>

</body>
</html>
