<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chunchana  2020</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Main Stylesheet File -->
  <link href="css/profile.css" rel="stylesheet">


</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Chunchana 2020</a></h1>
        
  
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html>Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Events">Events</a>
            <ul>
              <li><a href="#">Dance</a></li>
              <li><a href="#">Theater</a></li>
              <li><a href="#">Literature </a></li>
              <li><a href="#">Fine_arts</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Gaming</a></li>
            </ul>
          </li>
          <li class="Departments"><a href="#">Departments</a>
            <ul>
              <li><a href="#">Electronics & Communication</a></li>
              <li><a href="#">Civil Engineering </a></li>
              <li><a href="CSE.html">Computer science</a></li>
              <li><a href="#">Mechanical Engineering</a></li>
              <li><a href="#">Electrical & Electronics</a></li>
              <li><a href="#">Information science & Engineering</a></li>
            </ul>
          </li>
         
          <li class="Departments" ><a href="#contact">Contact</a>
          <ul>
            <li><a href="#Report">Report MAlicious</a></li>
            <li><a href="#Emergency">Emergency</a></li>
          </ul>
          
        </li > 
       
       
      
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->



    <!--==========================
      LOG in AS  Section
    ============================-->
    <br><br>
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Login As </h3>
          <p>Chunchana 2020 is made sucessfull by three group of people select which one you are </p>
        </header>

        <div class="row about-cols" >
         
          <div class="col-md-4 wow fadeInUp" >
            <a href="governance.html">
            <div class="about-col">
              <div class="img" href="governance.html">
                <img src="img/principal.jpeg" alt=""  class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title">Governance Team</h2>
              <p color="black"> 
                To achieve a common goal a team of wisers are required this is for the wisers of Chunchana together we make it a success. 
              </p>
              </a>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <a href="faculty.html">
            <div class="about-col">
              <div class="img">
                <img src="img/faculty.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Administrative Team  </a></h2>
             
              <p>
                "Team work makes dream work" this is for those who belive in community and work for the betterment of the team . 
              </p>
            </a>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <a href="participants.html">
            <div class="about-col">
              <div class="img">
                <img src="img/participants.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Participants </a></h2>
              <p>
                An event is never complete without the people who take part in it this is for those who think talent lies in every individual.
              </p>
            </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    

   

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Bitmagnets</h3>
            <p>You can do better with your team than you can alone. <br>If a team reaches its potential, each player must be willing to subordinate his personal goals to the good of the team</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#events">Events</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of Events </a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Register</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              AIT Engineering college<br>
              Administrative block <br>
              beekenahalli rural<br>
              577102
              <strong>Phone:</strong> +91 123456789<br>
              <strong>Email:</strong> info@aitckm.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Declaration </h4>
            <p>A Learning is never complete and ending process perspective varies from every individual if you think you can make a change in it fill out the form over head  to join us for a better cause</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Team Bitmagnets</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Bitmagnets AIT</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
